alfworld[full]==0.4.2
python-dotenv==1.2.1
attrs==25.4.0
typing==3.7.4.3
openai==2.14.0
jsonschema==4.26.0
colorlog==6.10.1
langchain==1.2.3
langchain-chroma==1.1.0
chromadb==1.4.0
finch-clust==0.2.2
